beautifulsoup4==4.4.1
click==6.7
cookies==2.2.1
Flask==0.11.1
Flask-Cors==2.1.2
geopy==1.11.0
googlefinance==0.7
googlemaps==2.4.5
itsdangerous==0.24
jsonschema==2.5.1
nose==1.3.7
notebook==4.2.1
oauth2==1.9.0.post1
oauthlib==2.0.1
odo==0.5.0
python-dotenv==0.6.3
python-forecastio==1.3.5
python-twitter==3.2.1
requests==2.10.0
requests-oauthlib==0.8.0
responses==0.5.1
simplejson==3.10.0
toolz==0.8.0
unicodecsv==0.14.1
Werkzeug==0.11.10
wikipedia==1.4.0