<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my page</h1>
				<p>I'm abe, triyng to figure this shit out<a href="https://www.facebook.com/AbrahamSprague">MY FACEBOOK</a>
				</p>
				<a href="{{ url_for('index') }}">back to home</a>
			</div>
		</div>
	<body>
</html>