<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if bar %}
					<h1>{{  bar  }}</h1>
					<h1>{{  weather  }}</h1>
					<a href="{{ url_for('index') }}">Look up another address</a>
				{% else %}
					<h1>Howdy partner! Where are you trying to down your sorrows tonight?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="address" placeholder="Zip code" class="form-control">
						</div>
						<input type="submit" value="Ready to drink?" class="button-primary">
				{% endif %}
					
			</div>
		</div>
	<body>
	<footer>
		<a href="{{ url_for('about') }}">About this project</a>
	</footer>
</html>